.label{
    width: 140px;
    display: inline-flex;

    margin: 0 1em 0 0;
    font-weight: bold;

}

.select{
    width: 140px;
    background: var(--bg-primary);
    color: var(--features);

    border: 2px solid;
    padding: 0.5em;

    font-weight: bold;
}

.base{
    margin-bottom: 0.5em;
}